<mat-spinner *ngIf="!isLoaded"></mat-spinner>
<mat-card *ngIf="isLoaded">
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        [placeholder]="'TITLE'"
        name="title"
        [ngModel]="post?.title"
        #title="ngModel"
        required
      />
      <mat-error *ngIf="title.invalid"
        >Title is <strong>required</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        [placeholder]="'CONTENT'"
        name="content"
        [ngModel]="post?.content"
        #content="ngModel"
        required
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >Content is <strong>required</strong></mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
