<mat-spinner *ngIf="!isLoaded"></mat-spinner>
<mat-card *ngIf="isLoaded">
  <form [formGroup]="postForm" (submit)="onAddPost(postForm)">
    <mat-form-field>
      <input
        formControlName="title"
        matInput
        type="text"
        [placeholder]="'TITLE'"
        name="title"
      />
      <mat-error *ngIf="postForm.get('title')?.invalid"
        >Title is <strong>required</strong></mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button color="primary" (click)="filePicker.click()">
        Add Image
      </button>
      <input type="file" hidden #filePicker (change)="onFilePicked($event)" />
    </div>
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" [alt]="postForm.value.title" />
    </div>
    <mat-form-field>
      <textarea
        formControlName="content"
        matInput
        rows="4"
        name="content"
        [placeholder]="'CONTENT'"
      ></textarea>
      <mat-error *ngIf="postForm.get('content')?.invalid"
        >Content is <strong>required</strong></mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
