:host {
  display: block;
  margin-top: 2rem;
}

.no-posts p {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
mat-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
